body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
}

.titulo-asignacion {
  text-align: center;
  font-size: 18px;
  margin-left: 600px; /* empuja el título visualmente al centro derecho */
  color: white;
  font-weight: bold;
  border-bottom: 4px solid #008cff;
  padding-bottom: 0px;
  width: fit-content;
}

.titulo-asignacion h1 {
  margin-bottom: 10px;
  line-height: 1.1;
}

.contenedor-asig {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px 60px 40px 60px; /* controla espacio interior */
  box-sizing: border-box;
 
  overflow-x: hidden; /* previene scroll lateral si algo se desborda */
   margin-right: 300px;
}

.contenedor-asignacion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 140, 255, 0.3);
  width: 600px;
  box-sizing: border-box;
  margin-top: 30px;
 
}


.subtitulo {
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
  color: #1576c6;
}

.etiqueta {
  display: inline-block;
  border-bottom: 2px solid #7ea0bb;
  padding-bottom: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #1576c6;
}

.input-asignacion {
  width: 100%;
  padding: 10px;
  border: 2px solid #b5b5b5;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.boton-verificar {
  align-self: center;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1576c6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resultado-ok {
  color: green;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}
