body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.contenedor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;
}

.titulo-container {
  max-width: 335px;
  margin-left: 330px;
}

.titulo-verificacion {
  color: white;
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
  border-bottom: 5px solid #008cff;
  padding-bottom: 10px;
  word-break: break-word;
  margin: 0;
}

.contenedor-verificacion {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 140, 255, 0.3);
  width: 600px;
  box-sizing: border-box;
}

.input-verificacion {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 8px;
  border: 2px solid #b5b5b5;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.input-verificacion:focus {
  border-color: rgba(0, 140, 255, 0.5);
  outline: none;
}

.boton-verificar {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1576c6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.etiqueta {
  display: inline-block;
  border-bottom: 2px solid #7ea0bb;
  padding-bottom: 4px;
  margin-bottom: 15px;
  margin-top: 13px;
  font-weight: bold;
}

.resultado-ok {
  color: green;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
