.icono-alerta-fijo {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 0.09px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icono-alerta-fijo:hover {
  transform: scale(1.1);
}
